{% extends 'base.html' %}{% load static %} {% block nav %}
<nav>
    <div class="nav-wrapper light-green">
        <div class="col s12">
            <a target="_blank" href="{% url 'index' %}" class="breadcrumb">首页 Home</a>
            <a target="_blank" href="#!" class="breadcrumb">{{ article.title }}</a>
        </div>
    </div>
</nav>
{% endblock %}{% block content %}
<div class="card">
    <div class="card-content">
        <a target="_blank" href="{% url 'article_detail' id=article.id %}">
            <span class="card-title" style="font-weight:bold">{{ article.title }}</span>
        </a>
        <p class="orange-text text-light-1">
            {{ article.publish_time }}
        </p>
        {% for tag in article.tags.all %}
        <a target="_blank" href="{% url 'article_tag' tag_name=tag %}">
            <div class="chip light-green white-text">
                {{ tag }}
            </div>
        </a>
        {% endfor %}
        <script>
            function setIframeHeight(iframe) {
                if (iframe) {
                    var iframeWin = iframe.contentWindow || iframe.contentDocument.parentWindow;
                    if (iframeWin.document.body) {
                        iframe.height = iframeWin.document.documentElement.scrollHeight || iframeWin.document.body
                            .scrollHeight;
                    }
                }
            };
            function setTarget(self) {
                var aLinks, aHref;
                aLinks = self.documment.getElementsByTagName('a');
                for (var i = 0; i < aLinks.length; i++) {
                    if (aHref = aLinks[i].getAttribute('href')) {
                        aLinks[i].setAttribute('target', '_blank');
                    }
                }
            }
        </script>
        <iframe src="{{ article.body.url }}" frameborder="0" scrolling="no" id="external-frame"
            onload="setIframeHeight(this)" width="100% ">
            <base target="_blank" />
        </iframe>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <div id="disqus_thread"></div>
        <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://starmountain.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a target="_blank"
                href="https://disqus.com/?ref_noscript">comments powered by
                Disqus.</a></noscript>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.parallax ').parallax();
    });
</script>
<style>
    .parallax-container {
        margin: 0.5rem 0 1rem 0;
        height: 250px;
    }
</style>
{% endblock %}